<footer>
    <p>
        <i>copyright {{ year }} john trinh •
            <a href="https://github.com/oddhorse/john-trinh.com/tree/{{ gitInfo.branch }}" target="_blank">github
             {% include "logos/github.svg" %}
            </a> - <a href="https://github.com/oddhorse/john-trinh.com/commit/{{ gitInfo.commit }}" target="_blank">{{ gitInfo.shortcommit }}</a>
        </i>
    </p>
</footer>