---
pagination:
  data: categories
  size: 1
  alias: category
permalink: "{{ category.permalink }}"
eleventyComputed:
  title: "{{ category.title }}"
categories:
  - title: ""
    filter: null
    permalink: "/"
  - title: "tech"
    filter: "tech"
    permalink: "/tech/"
  - title: "art"
    filter: "art"
    permalink: "/art/"
  - title: "brand"
    filter: "brand"
    permalink: "/brand/"
---

<link rel="stylesheet" href="/assets/css/home.css">

<section id="list-display">
	<article id="portfolio-list-box">

		<nav>
			<a href="/">all</a>
			<a href="/tech/">tech</a>
			<a href="/art/">art</a>
			<a href="/brand/">brand</a>
		</nav>
		<ul id="portfolio-list">
			{% for artifact in collections.artifacts | reverse %}
				{% if not category
					.filter or artifact
					.data
					.tags
					.includes(category.filter) %}
					<li class="grid-entry">
						<div class="entry-meta">
							{% if artifact.data.time %}
								<time class="entry-time">{{ artifact.data.time }}</time>
							{% endif %}
							{% if artifact.data.draft %}
								<span class="draft">(DRAFT)</span>
							{% endif %}
						</div>
						<div class="entry-body">
							<a class="entry-title" href="{{ artifact.url }}">{{ artifact.data.title }}</a>
							{% if artifact.data.subtitle %}
								<div class="entry-subtitle">{{ artifact.data.subtitle }}</div>
							{% endif %}
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</article>

	<article id="portfolio-detail"></article>
</section>

<script type="module" src="/assets/js/home.js"></script>